!!! 1.1
%html{:xmlns=> "http://www.w3.org/1999/xhtml", "xml:lang"=>"en-US", :lang=>"en-US"}
  %head

    %meta{ 'http-equiv' => 'Content-Type', :charset=>"utf-8"}
    %title
      = "Rolodex"
    = stylesheet_link_tag :all
    = yield :styles
    = javascript_include_tag :defaults
    = yield :scripts
    = csrf_meta_tag

  %body
    
    #page{:class => "centered #{@with_page}"}
      #header
        =link_to "Rolodex Contacts Management",root_path , :id=>"logo"
        -if user_signed_in?
          = link_to 'My Contacts', contacts_path , :class=>'login_links'
          =link_to "#{current_user.email} (edit)",edit_user_registration_path, :class=>'login_links'
          =link_to " log out",destroy_user_session_path, :class=>'login_links'
        -else
          = link_to 'Sign in', new_user_session_path, :class=>'login_links'
          = link_to 'Sign up', new_user_registration_path, :class=>'login_links'
      .clear_both
      #content
        .notice
          - if flash[:notice]
            = flash[:notice]
        .error
          - if flash[:error]
            = flash[:error]
        =yield

      #footer
        = raw "&copy; 2010 Rolodex  powered by Sergio Aguirre "
        
      = image_tag('loading.gif', :id => "loading", :class=> "hidden")