= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  #login
    !=table_up('Forgot your password?')
    %p
      = f.label :email
      %br/
      = f.text_field :email
    %p= f.submit "Send me reset password instructions"
    !=table_down
    = render :partial => "devise/shared/links"
