#contact_select
  = link_to "#{@ordertxt}","", :id => :orderlink
  = link_to "Select all","", :id => :selectall
  = link_to "Select none","", :id => :selectnone
  = link_to "Delete selected contacts","", :id => :deletecontacts
#contact_paginate
  =will_paginate @contacts, :params => {:key => params[:key],:order => params[:order],:action=>"index", :controller=>"contacts"}
.clear_both
!=table_up('Contacts')
.table_headers
  Picture
.table_headers
  First Name
.table_headers
  Middle Name
.table_headers
  Last Name
.table_headers
  Actions
.clear_both
-@contacts.each do |contact|
  %div.draggable
    .column
      %input{ :id =>"#{contact.id}",:type => "checkbox" ,:class => "check_contact"}
      = image_tag contact.photo.url(:thumb)
    .column
      = contact.first_name
    .column
      = contact.middle_name
    .column
      = contact.last_name
    .column
      = link_to "Edit ", edit_contact_path(contact), :remote => true, :class => :conctac_edit
      = link_to " | Delete", contact, :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => :conctac_destroy
!=table_down
