=will_paginate @contacts, :params => {:key => params[:key],:action=>"index", :controller=>"contacts"}
!=table_up('Contacts')
.table_headers
  Picture
.table_headers
  First Name
.table_headers
  Middle Name
.table_headers
  Last Name
.table_headers
  Actions
.clear_both
-@contacts.each do |contact|
  %div.draggable
    .column
      = image_tag contact.photo.url(:thumb)
    .column
      = contact.first_name
    .column
      = contact.middle_name
    .column
      = contact.last_name
    .column
      = link_to "Edit ", edit_contact_path(contact), :remote => true, :class => :conctac_edit
      = link_to " | Delete", contact, :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => :conctac_destroy
!=table_down
