- title= @contact.new_record? ? 'Create new contact' : 'Edit contact'
- form_for (@contact, :format => :js,  :html => {:target=>:frame, :multipart => true })  do |f|
  #contact_errors{:style => "display:none"}
  !=table_up(title)
  .contact_right
    = f.label 'name'
    %br/
    = f.text_field :first_name, :size => "20"
    %br/
    = f.label 'middle name'
    %br/
    = f.text_field :middle_name, :size => "20"
    %br/
    = f.label 'last name'
    %br/
    = f.text_field :last_name, :size => "20"
    %br/
    = f.file_field :photo
    %br/
    = f.submit @contact.new_record? ? 'Save' : 'Update'
    -if @contact.new_record?
      %input{:value => "Cancel",:type => "button",:id => "cancel_form_button"}
    -else
      %input{:value => "Cancel",:type => "button",:id => "cancel_form_button_edit", :rel => "#{contact_path(@contact)}"}
  .contact_left
    = image_tag @contact.photo.url(:small)
  .clear_both
  !=table_down
%iframe{:id => 'frame',:name => "frame", :src => "about:blank"}
