!=table_up('Contact Details')
.contact_right
  %strong
    Name
  %br/
  = @contact.first_name
  = @contact.middle_name
  =@contact.last_name
.contact_left
  =image_tag @contact.photo.url(:small)
  %br/
.clear_both
= link_to "Edit ", edit_contact_path(@contact), :remote => true, :class => :conctac_edit
= link_to "Export as Vcard", edit_contact_path(@contact), :remote => true, :class => :conctac_edit
= link_to "Delete", @contact, :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => :conctac_destroy
= link_to " [x] Close", "", :id => :close_show
!=table_down
#phone_number
  = render :partial => "/phone_numbers/phone_numbers"