#wellcome_contacts
  %h1
    Wellcome to Contact list
  %br/
  = link_to "Add new contact",new_contact_path, :id => "add_contact" , :remote => true
#search_form
  = render :partial => "search_form"
.clear_both
#contact_form
#contact_list
  = render :partial => "contacts"
#list
  = render :partial => "lists/lists"
.clear_both
=content_for :scripts do
  = javascript_include_tag 'contacts'